.App {
  text-align: center;
  background: linear-gradient(rgb(17, 255, 0), rgb(99, 116, 250));
  width: 30%;
  height: 670px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  border: 6px solid darkcyan;
}
body {
  background-color: aquamarine;
}
.Input-wrapper input {
  width: 70%;
  height: 50px;
  font-size: 1.6rem;
  background-color: yellowgreen;
  box-shadow: 7px 6px 7px rgb(3, 202, 202);
  position: relative;
  top: 30px;
  right: 20px;
}
.Input-wrapper input::placeholder {
  color: white;
}
.Input-wrapper button {
  width: 104px;
  height: 57px;
  position: relative;
  top: 30px;
  font-size: 1.2rem;
  left: 10px;
  background-color: lightblue;
}
